<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
	<div class="pull-left image">
	  <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
	</div>
	<div class="pull-left info">
	  <p>{{t 'notrans.brand.name'}}</p>

	  <a href="#"><i class="fa fa-circle text-success"></i> {{t 'trans.sidebar.availability.on'}}</a>
	</div>
  </div>
  <!-- search form -->
  <form action="#" method="get" class="sidebar-form">
	<div class="input-group">
	  <input type="text" name="q" class="form-control" placeholder="{{t 'trans.sidebar.placeholders.search'}}"/>
	  <span class="input-group-btn">
		<button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
	  </span>
	</div>
  </form>
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
	<li class="header">{{t 'trans.sidebar.titles.title'}}</li>
  <li>
    {{#link-to 'ui-timeline'}}
    <i class="fa fa-road"></i> {{t 'trans.sidebar.titles.timeline'}}
    {{/link-to}}
  </li>
	<li>
    {{#link-to 'randomtext'}}
    <i class="fa fa-font"></i> {{t 'trans.sidebar.titles.randomtext'}}
    {{/link-to}}
  </li>
	<li>
	  {{#link-to 'form-input'}}
		<i class="fa fa-list-alt"></i> <span>{{t 'trans.sidebar.titles.forms'}}</span>
		<small class="label pull-right bg-red">!</small>
	  {{/link-to}}
	</li>
	<li>
	  {{#link-to 'comingsoon'}}
		<i class="fa fa-envelope"></i> <span>{{t 'trans.sidebar.titles.mailbox'}}</span>
		<small class="label pull-right bg-yellow">3</small>
	  {{/link-to}}
	</li>
	<li>{{#link-to 'documentation'}}<i class="fa fa-book"></i> {{t 'trans.sidebar.titles.documentation'}}{{/link-to}}</li>
	<li class="header">{{t 'notrans.langs.title'}}</li>
	<li><a href="http://ko-javaembertest.onelink-poc.com"><i class="fa fa-circle-o text-danger"></i> {{t 'notrans.langs.ko'}}</a></li>
	<li><a href="http://ja-javaembertest.onelink-poc.com"><i class="fa fa-circle-o text-warning"></i> {{t 'notrans.langs.ja'}}</a></li>
	<li><a href="http://zh-javaembertest.onelink-poc.com"><i class="fa fa-circle-o text-info"></i> {{t 'notrans.langs.zh'}}</a></li>
  <li><a href="http://de-javaembertest.onelink-poc.com"><i class="fa fa-circle-o text-primary"></i> {{t 'notrans.langs.de'}}</a></li>
  <li><a href="http://es-javaembertest.onelink-poc.com"><i class="fa fa-circle-o text-success"></i> {{t 'notrans.langs.es'}}</a></li>
  <li><a href="http://en-javaembertest.onelink-poc.com"><i class="fa fa-circle-o text-muted"></i> {{t 'notrans.langs.en'}}</a></li>
  </ul>
</section>
