<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
	<div class="pull-left image">
	  <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
	</div>
	<div class="pull-left info">
	  <p>{{t 'trans.customer.info.name'}}</p>

	  <a href="#"><i class="fa fa-circle text-success"></i> {{t 'trans.sidebar.availability.on'}}</a>
	</div>
  </div>
  <!-- search form -->
  <form action="#" method="get" class="sidebar-form">
	<div class="input-group">
	  <input type="text" name="q" class="form-control" placeholder="{{t 'trans.sidebar.placeholders.search'}}"/>
	  <span class="input-group-btn">
		<button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
	  </span>
	</div>
  </form>
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
	<li class="header">{{t 'trans.sidebar.titles.title'}}</li>
	<!-- <li>
	  {{#link-to 'widgets'}}
		<i class="fa fa-th"></i> <span>{{t 'sidebar.titles.widget'}}</span> <small class="label pull-right bg-green">new</small>
	  {{/link-to}}
	</li> -->


	<!-- <li class="treeview">
	  <a href="#">
		<i class="fa fa-laptop"></i>
		<span>{{t 'trans.sidebar.titles.ui_elements'}}</span>
		<i class="fa fa-angle-left pull-right"></i>
	  </a>
	  <ul class="treeview-menu">
		<li>{{#link-to "general-ui"}}<i class="fa fa-circle-o"></i> {{t 'trans.sidebar.elements.general'}}{{/link-to}}</li>
		<li>{{#link-to 'ui-icons'}}<i class="fa fa-circle-o"></i> {{t 'trans.sidebar.elements.icons'}}{{/link-to}}</li>
		<li>{{#link-to 'ui-buttons'}}<i class="fa fa-circle-o"></i> {{t 'trans.sidebar.elements.buttons'}}{{/link-to}}</li>
		<li>{{#link-to 'ui-timeline'}}<i class="fa fa-circle-o"></i> {{t 'trans.sidebar.elements.timeline'}}{{/link-to}}</li>
		<li>{{#link-to 'ui-modals'}}<i class="fa fa-circle-o"></i> {{t 'trans.sidebar.elements.modals'}}{{/link-to}}</li>
	  </ul>
	</li> -->
	 <li>
	  {{#link-to 'form-input'}}
		<i class="fa fa-list-alt"></i> <span>{{t 'trans.sidebar.titles.forms'}}</span>
		<small class="label pull-right bg-red">!</small>
	  {{/link-to}}
	</li>
	<li>
	  {{#link-to 'comingsoon'}}
		<i class="fa fa-envelope"></i> <span>{{t 'trans.sidebar.titles.mailbox'}}</span>
		<small class="label pull-right bg-yellow">12</small>
	  {{/link-to}}
	</li>
  <!--
	<li class="treeview">
	  <a href="#">
		<i class="fa fa-share"></i> <span>{{t 'trans.sidebar.titles.multilevel'}}</span>
		<i class="fa fa-angle-left pull-right"></i>
	  </a>
	  <ul class="treeview-menu">
		<li><a href="#"><i class="fa fa-circle-o"></i>{{t 'trans.sidebar.levels.one'}}</a></li>
		<li>
		  <a href="#"><i class="fa fa-circle-o"></i> {{t 'trans.sidebar.levels.one'}} <i class="fa fa-angle-left pull-right"></i></a>
		  <ul class="treeview-menu">
			<li><a href="#"><i class="fa fa-circle-o"></i> {{t 'trans.sidebar.levels.two'}}</a></li>
			<li>
			  <a href="#"><i class="fa fa-circle-o"></i> {{t 'trans.sidebar.levels.two'}} <i class="fa fa-angle-left pull-right"></i></a>
			  <ul class="treeview-menu">
				<li><a href="#"><i class="fa fa-circle-o"></i> {{t 'trans.sidebar.levels.three'}}</a></li>
				<li><a href="#"><i class="fa fa-circle-o"></i> {{t 'trans.sidebar.levels.three'}}</a></li>
			  </ul>
			</li>
		  </ul>
		</li>
		<li><a href="#"><i class="fa fa-circle-o"></i> {{t 'trans.sidebar.levels.one'}}</a></li>
	  </ul>
	</li> -->
	<li>{{#link-to 'documentation'}}<i class="fa fa-book"></i> {{t 'trans.sidebar.titles.documentation'}}{{/link-to}}</li>
	<li class="header">{{t 'trans.sidebar.labels.title'}}</li>
	<li><a href="#"><i class="fa fa-circle-o text-danger"></i> {{t 'trans.sidebar.labels.important'}}</a></li>
	<li><a href="#"><i class="fa fa-circle-o text-warning"></i> {{t 'trans.sidebar.labels.warn'}}</a></li>
	<li><a href="#"><i class="fa fa-circle-o text-info"></i> {{t 'trans.sidebar.labels.info'}}</a></li>
  </ul>
</section>
