{{! This file is a modification of html from https://github.com/almasaeed2010/AdminLTE}}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{t 'trans.forms.title'}}
    <small>{{t 'trans.forms.subtitle'}}</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> {{t 'trans.navigation.breadcrumbs.home'}}</a></li>
    <li><a href="#">{{t 'trans.navigation.breadcrumbs.ui'}}</a></li>
    <li class="active">{{t 'trans.navigation.breadcrumbs.forms'}}</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{{t 'trans.forms.title'}}</h3>
        </div>
        <div class="box-body">
          <p>{{t 'trans.forms.dropdown'}}</p>
          <div class="input-group margin">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{t 'trans.forms.add'}} <span class="fa fa-caret-down"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">{{t 'trans.forms.add'}}</a></li>
                <li><a href="#">{{t 'trans.forms.remove'}}</a></li>
                <li><a href="#">{{t 'trans.forms.update'}}</a></li>
                <li class="divider"></li>
                <li><a href="#">{{t 'trans.forms.delete'}}</a></li>
              </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control">
          </div><!-- /input-group -->
          <p>{{t 'trans.forms.leftbutton'}}</p>
          <div class="input-group margin">
            <div class="input-group-btn">
              <button type="button" class="btn btn-info">{{t 'trans.forms.upload'}}!</button>
            </div><!-- /btn-group -->
            <input type="text" class="form-control">
          </div><!-- /input-group -->
          <p>{{t 'trans.forms.rightbutton'}}</p>
          <div class="input-group margin col-md-12">
            <div class="input-group margin col-md-4" style="float: left">
              <div class="input-group-btn">
                <button type="button" class="btn btn-info">{{t 'trans.forms.submit'}}!</button>
              </div><!-- /btn-group -->
              <input type="text" class="form-control" placeholder={{t 'trans.placeholder.firstname'}}>
            </div><!-- /input-group -->
            <div class="input-group margin col-md-4" style="float: left">
              <div class="input-group-btn">
                <button type="button" class="btn btn-info">{{t 'trans.forms.submit'}}!</button>
              </div><!-- /btn-group -->
              <input type="text" class="form-control" placeholder={{t 'trans.placeholder.lastname'}}>
            </div><!-- /input-group -->
            <div class="input-group margin col-md-4" style="float: left">
              <div class="input-group-btn">
                <button type="button" class="btn btn-info">{{t 'trans.forms.submit'}}!</button>
              </div><!-- /btn-group -->
              <input type="text" class="form-control" placeholder={{t 'trans.placeholder.example_email'}}>
            </div><!-- /input-group -->
            <div class="input-group margin col-md-4" style="float: left">
              <div class="input-group-btn">
                <button type="button" class="btn btn-info">{{t 'trans.forms.submit'}}!</button>
              </div><!-- /btn-group -->
              <input type="text" class="form-control"placeholder={{t 'trans.placeholder.password'}}>
            </div><!-- /input-group -->
          </div><!-- /input-group -->
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </div><!-- /. row -->
</section><!-- /.content -->
