<div style='margin:30px;'>
  <h1>{{t 'trans.randomtext.header'}}</h1>
  <h4>{{t 'trans.randomtext.blurb'}}</h4>

  {{randomText}}
  <button {{action "sendRequest"}}>{{t 'trans.randomtext.generate'}}</button>
</div>
